flow.json
[{"id":"bc8ad899.e0ef28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1b9af6de.170489","type":"inject","z":"bc8ad899.e0ef28","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["5a08ceb.01d7a3"]]},{"id":"5a08ceb.01d7a3","type":"exec","z":"bc8ad899.e0ef28","command":"C:/Users/pc/.node-red/slic3r.exe C:/Users/pc/.node-red/DADO.stl --no-gui","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"ubicación de archivo","x":360,"y":160,"wires":[["2149d780.3edbc8"],[],[]]},{"id":"2149d780.3edbc8","type":"debug","z":"bc8ad899.e0ef28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]}]